/* Common Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* /Common Rules */


/* Utility */

/* /Utility */


/**************
 Header 
 **************/


 /**************
 Main
 **************/


 /**************
 Footer 
 **************/