/* Common Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto;
    min-width: 1000px;
}
/* /Common Rules */


/* Utility */
.clearfix{
    display: table;
    content: "";
    clear: both;
}

.container{
    width: 85%;
    margin: auto;
}

.bg_blue{
    background-color: #0C325A;
}

.bg_green{
    background-color: #7CBB02;
}

.bg_grey{
    background-color: #D3D3D3;
}

.txt_grey{
    color: #828282;
}

.txt_green{
    color: #7CBB02;
}

.btn{
    border-radius: 5px;
    padding: 8px 16px;
}

.btn_outline{
    border: 1px solid white;
}

.btn_solid{
    background-color: #7CBB02;
}
/* /Utility */


/**************
 Header 
 **************/
#site_header{
    height: 550px;
    background-image: url("../img/background-header.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 115% 110%;
    color: white;
    font-weight: 300;
}

#site_header nav{
    line-height: 60px;
}

#site_header li > a{
    color: white;
    text-decoration: none;
    font-size: 10px;
    font-weight: 400;
}

.logo{
    width: 15%;
    margin-top: 15px;
}

.logo, .left_menu, .right_menu{
    float: left;
    text-transform: uppercase;
}

/* Left Menu */
.left_menu{
    width: 45%;
}

.left_menu > ul > li{
    list-style: none;
    padding: 10px;
    display: inline-block;
}
/* /Left Menu */


/* Right Menu */
.right_menu{
    width: 40%;
    text-align: right;
}

.right_menu > ul > li{
    list-style: none;
    padding: 10px;
    display: inline-block;
}

.btn_outline:hover{
    background-color: #7CBB02;
}

.btn_solid:hover{
    background-color: #456602;
    
}

li > a:hover:not(.btn){
    border-bottom: 2px solid #7CBB02;
    border-left: 2px solid #7CBB02;
    padding: 0 0 5px 5px;
}
/* /Right Menu */

.header_text{
    margin-top: 10%;
    width: 45%;
    font-size: 30px;
    margin-bottom: 30px;
    height: auto;
}

section > div > a{
    border-radius: 5px;
    padding: 15px 16px;
    text-transform: uppercase;
    font-size: 13px;
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.header_text :first-child{
    margin-bottom: 30px;
}

 /**************
 Main
 **************/
 .top_container{
     height: 120px;
     text-align: center;
 }

 main > section > div > h2{
     color: black;
     padding-top: 30px;
     font-weight: 400;
 }

 main > section > div > h3{
    padding-top: 15px;
    font-weight: 400;    
}

/* .dbg_bg{
    background-color: blue;
    height: 600px;
}

.dbg_border{
    border: 3px solid black;
} */

.left_content, .mid_content, .right_content{
    width: 30%;
    margin: auto 1%;
    float: left;
    margin-top: 50px;
    text-align: center;
    
}

.img_container{
    width: 140px;
    height: 130px;
    margin: auto;
}

.image_left{
    width: 100%;
    background-image: url("../img/profile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.image_mid{
    width: 100%;
    background-image: url("../img/computer.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.image_right{
    width: 100%;
    background-image: url("../img/doc.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.txt_content{
    margin: 20px auto;
    width: 85%;
}

.txt_content h3{
    font-weight: 500;
    font-size: 20px;
}

.txt_content p{
    font-weight: 500;
    font-size: 14px;
}

.txt_content h3::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #828282;
    display: block;
    margin: 20px auto;
}


.col-2{
    width: 50%;
    float: left;
    padding: 40px 80px;
}

.row{
    margin: auto;
}

.row h3{
    font-size: 30px;
}

.row p{
    padding: 15px 0;
    font-weight: 600px;
}

.row a{
    color: #5586BC;
}


 /**************
 Footer 
 **************/